.button{
	
	-fx-background-color: 0;
	background-color: 0;
	-fx-background-radius:  18 18 18 18;
	-fx-border-color:  #ffffff;
	border-color:  #ffffff;
	-fx-border-radius:  18 18 18 18;
	border-radius:  18 18 18 18;
	-fx-cursor:  hand;
	cursor:  hand;
}
.button:hover{
	
	-fx-background-color: #6f2279;
	background-color: #6f2279;
	-fx-background-radius:  18 18 18 18;
	-fx-border-color:  #ffffff;
	border-color:  #ffffff;
	-fx-border-radius:  18 18 18 18;
	border-radius:  18 18 18 18;
	
}
.transparent{
	-fx-background-color: 0;
	background-color: 0;
}
.sidebar_button{
	-fx-background-color: 0;
	background-color: 0;
	-fx-border-color:  #ffffff;
	border-color:  #ffffff;
	-fx-border-radius:  0 0 0 0;
	border-radius:  0 0 0 0;
	-fx-cursor:  hand;
	cursor:  hand;
	-fx-border-width:  0px 0px 0px 0px;
	border-width:  0px 0px 0px 0px;
}
.selected{
	-fx-background-color: #ffffff;
	background-color: #ffffff;
	-fx-border-color:  #ffffff;
	border-color:  #ffffff;
	-fx-background-radius:  0 0 0 0;
	-fx-border-radius:  0 0 0 0;
	border-radius:  0 0 0 0;
	-fx-cursor:  hand;
	cursor:  hand;
	-fx-border-width:  0px 0px 0px 0px;
	border-width:  0px 0px 0px 0px;
}
.sidebar_button:hover{
	-fx-background-color: #442868;
	background-color: #442868;
	-fx-background-radius:  0 0 0 0;
	
}

.back_button{
	-fx-border-color:  0;
	border-color:  0;
	-fx-cursor:  hand;
	cursor:  hand;
}
.textF{
	-fx-border-color: #ffffff;
	border-color: #ffffff;
	-fx-background-color: #ffffff ;
	background-color: #ffffff;
	-fx-border-width:  0px 0px 2px 0px;
	border-width:  0px 0px 2px 0px;
	-fx-opacity: 0.5;
	opacity: 0.5;
	-fx-border-radius:  0 0 0 0;
	border-radius:  0 0 0 0;
}
.seacrhF{
	-fx-background-color: 0;
	background-color: 0;
	-fx-background-radius:  18 18 18 18;
	-fx-border-color:   #632d85;
	border-color:   #632d85;
	-fx-border-radius:  18 18 18 18;
	border-radius:  18 18 18 18;
	-fx-cursor:  hand;
	cursor:  hand;
}
